.portfolios {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 90px;
    max-height: 390px;
}

.portfolio {
    margin: 15px 15px 15px 0;
    min-width: 320px;
    height: 370px;
    text-align: center;
    background-color: rgb(177, 174, 174);
    border-radius: 10px;
}